.card{

}

.card__description{
  font-size: 1em;
  font-weight: bold;
}

.card__image{
  width: 100px;
  height: 100px;
}

.card__title{
  font-size: 1.5em;
  font-weight: bold;
}

.loader{
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  height: 100vh;
}

.workspace{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.workspace__submit{
  position: absolute;
  top: 20px;
  right: 20px;
}
